html,
body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
}

h2,
p,
hr {
  margin: 0;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-35 {
  margin-right: 35px;
}
